.head {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.head h3 {
  margin-bottom: 25px;
}
.head .next,
.head .prev {
  line-height: 55px;
  font-size: 21px;
  color: #428bca;
}
.body .fa {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  z-index: 0;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.show {
  display: block;
}
.hide {
  display: none;
}
